/* Override .container-fluid padding */
/* .container-fluid{
    padding-left:0;
    padding-right: 0;
} */
.container-fluid {
    margin-bottom: 15px;
}
.jumbotron{
    text-align: center;
    padding-top:5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: cadetblue;
    color:whitesmoke;
}
.tab-content{
    border:1px solid rgb(218, 216, 221);
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;    
    padding:0px 10px 10px 10px;
    width:100%;
    height:auto;
}

.nav >ul>li {
    background-color: rgba(155, 155, 155, 0.096);
}
.footer{
    width:100%;
    height:50px;
    border: 1px solid rgb(218, 216, 221);
    border-radius: 5px;
    background-color: cadetblue;
    display: table;
}
.footer p{
    color:whitesmoke;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    font-size:80%;
}
iframe {
    width:100%;
    height: 600px;
}